/*----------- MEDIUM LAYOUT: 1280px--------------*/
 
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}


/*------------  TABLET LAYOUT: 768px-----------------------------------*/
  

.main-navigation{
    margin-top: 20px;
}

.main-nav .navbar-brand h4{
    color: #fff;
}
.project-content-block {
    text-align: center;
    margin-left: 0px;
    padding: 70px 20px;
    position: relative;
    bottom: 0px;
    margin-top: 40px;
}
.project-content-block h4 {
    font-size: 14px;
}
.section-title {
    font-size: 22px;
}
.section-heading{
    margin-bottom: 30px;
}
.services-img{
    margin-bottom: 0px;
}

.services-content {
    padding-bottom: 70px;
}
.footer-copy{
    text-align: center;
}
.footer-copy:before{
    display: none;
}
.main-navigation.menu-2 {
    margin-top: 20px;
    position: absolute;
    width: 100%;
}
/*----------  WIDE MOBILE LAYOUT: 480px--------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .display-4 {
        font-size: 2.5rem;
    }
    .main-navigation{
        margin-top: 20px;
    }
    
    .main-nav .navbar-brand h4{
        color: #fff;
    }
    .project-content-block {
        text-align: center;
        margin-left: 0px;
        padding: 70px 20px;
        position: relative;
        bottom: 0px;
        margin-top: 40px;
    }
    .project-content-block h4 {
        font-size: 14px;
    }
    .section-title {
        font-size: 22px;
    }
    
  
    .services-img{
        margin-bottom: 0px;
    }
    
    .services-content {
        padding-bottom: 70px;
    }
    .section-heading{
        margin-bottom: 30px;
    }
    .banner-content p{
        padding-right: 0px;
    }
    .main-navigation.menu-2 {
        margin-top: 20px;
        position: absolute;
        width: 100%;
    }
    .footer-copy{
        text-align: center;
    }
    .footer-copy:before{
        display: none;
    }
    .banner-content p{
        padding-right: 0px;
    }
    .main-navigation.menu-2 {
        margin-top: 20px;
        position: absolute;
        width: 100%;
    }
    
}

/*-------------------------- Extra Small Devices, Phones ------------------------*/
@media (min-width: 478px) and (max-width: 640px) {
    .display-4 {
        font-size: 2.5rem;
    }
    .main-navigation{
        margin-top: 20px;
    }
    .main-nav .navbar-brand h4{
        color: #fff;
    }
    .services-img{
        margin-bottom: 0px;
    }
    
    .services-content {
        padding-bottom: 70px;
    }
    .section-title {
        font-size: 22px;
    }
    .project-content-block {
        text-align: center;
        margin-left: 0px;
        padding: 70px 20px;
        position: relative;
        bottom: 0px;
    }
    .project-content-block h4 {
        font-size: 14px;
    }
    .footer-copy{
        text-align: center;
    }
    .footer-copy:before{
        display: none;
    }
    .project-content {
        text-align: center;
        padding: 50px 0px;
        position: relative;
    }
    .aboutus-block{
        margin-top: 30px;
    }
    .banner-content p{
        padding-right: 0px;
    }
    .main-navigation.menu-2 {
        margin-top: 20px;
        position: absolute;
        width: 100%;
    }
    .section-heading{
        margin-bottom: 30px;
    }
    
    .banner-content p{
        padding-right: 0px;
    }
    .main-navigation.menu-2 {
        margin-top: 20px;
        position: absolute;
        width: 100%;
    }
    
    .banner-contact-form{
        padding: 45px 15px;
    }
    .web-service-block{
        margin-bottom: 30px;
    }
}

/*------------------- Custom, iPhone Retina-----------------*/ 
@media (min-width : 320px) and (max-width: 478px)  {
    
    .main-navigation{
        margin-top: 20px;
    }
    
    .main-nav .navbar-brand h4{
        color: #fff;
        margin-top: 10px;
    }
    .banner-contact-form{
        padding: 45px 15px!important;
    }
    .services-img{
        margin-bottom: 0px;
    }
    .section-title {
        font-size: 22px;
    }
    .services-content {
        padding-bottom: 70px;
    }
    .project-content-block {
        text-align: center;
        margin-left: 0px;
        padding: 70px 20px;
        position: relative;
        bottom: 0px;
        margin-top: 30px;
    }
    .section-heading{
        margin-bottom: 30px;
    }
    
    .project-content-block h4 {
        font-size: 14px;
    }
    .footer-copy{
        text-align: center;
    }
    .footer-copy:before{
        display: none;
    }
    .aboutus-img{
        margin-left:0px;
    }
    .aboutus-block{
        margin-top: 30px;
    }
    .banner-content .display-4{
        font-size: 28px;
        line-height: 38px;
    }
    .banner-content p{
        padding-right: 0px;
    }
    .main-navigation.menu-2 {
        margin-top: 20px;
        position: absolute;
        width: 100%;
    }
    
    .navbar-collapse.collapse.show{
        background: #007bff;
        padding-bottom: 30px;
    }
    .web-service-block{
        margin-bottom: 30px;
    }
    .section{
        padding: 60px 0px;
    }
    
    .section-bottom{
        padding-bottom: 60px;    
    }
    .section-top{
        padding-top: 60px;    
    }
    
    .main-banner h1.display-4 {
        line-height: 42px;
        font-size: 30px;
    }
    
    #projects {
        margin-top: 60px;
    }
    
    
}
