@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');

@font-face {
    font-family: Objective;
    font-weight: 600;
    src: url(../fonts/Objective/Objective-Bold.woff2) format("woff2")
}

@font-face {
    font-family: Objective;
    font-weight: 500;
    src: url(../fonts/Objective/Objective-Medium.woff2) format("woff2")
}

@font-face {
    font-family: Objective;
    font-weight: 400;
    src: url(../fonts/Objective/Objective-Regular.woff2) format("woff2")
}


*{
    margin:0px;
    padding:0;
    font-family: sans-serif;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    margin: 0;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
    color: #6c757d;
}
@viewport{
    width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
    width: device-width ;
  }
 /*---------- TYPOGRAPHY---------------------------*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529;
}

.h1,
h1 {
    font-size: 2.125rem;
    line-height: 40px;
}

.h2,
h2 {
    font-size: 1.625rem;
}

.h3,
h3 {
    font-size: 1.375rem;
}

.h4,
h4 {
    font-size: 1.125rem;
}

.h5,
h5 {
    font-size: .9375rem;
}

.h6,
h6 {
    font-size: .75rem;
}

.lead {
    font-size: 1.0625rem;
    font-weight: 300;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
}
@media (max-width:767.98px) {
    h1 {
        font-size: 1.5rem
    }

    h2 {
        font-size: 1.375rem
    }

    h3 {
        font-size: 1.25rem
    }

    h4 {
        font-size: 1.125rem
    }

    h5 {
        font-size: .9375rem
    }

    h6 {
        font-size: .75rem
    }
}
p {
    margin-bottom: 0px;
}

a:hover,a:focus{
    outline: none;
}

.mb-6{
    margin-bottom: 2rem !important;
}

.section-heading{
    margin-bottom: 80px;
}
/*---------mob comp for all devices-------------*/
@media only screen and (min-width: 1440px) {
    .display-4 {
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 1200px) {
    .display-4 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .display-4 {
        font-size: 2.5rem;
    }
}

/*----------img thumb nail------------------*/

.img {
    vertical-align: middle;
    border-style: none;
    box-shadow: 0px 10px 20px 2px #6D214F, 7px 6px 7px 0px #B33771;
   


}

.img-thumbnail {
    padding: .25rem;
    border: 1px solid #dee2e6;
    background-color: #fff
}


.section {
    position: relative;
    /*padding: 8.125rem 0;*/
}

@media (min-width:768px) {
    .section {
        padding: 60px 0px; 
    }
}

.section-top {
    padding-top: 8.125rem;
}

.section-bottom {
    padding-bottom: 8.125rem;
}

@media (min-width:768px) {
    .section-top {
        padding-top: 10.3125rem
    }
}


.bg-grey {
    background: #F4F7FC;
}
/*-------------------BUTTONS STYLE BUTTONS STYLE----------------=----*/

 

.btn {
    font-size: .6875rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    padding: 1rem 2.7rem;
    border: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;
}


.btn-trans-white {
    border-color: #fff;
    color: #fff;
}

.btn-white,
.btn-trans-white:hover {
    background: #fff;
    color: #111;
}

.btn-white:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn[class*=outline] {
    color: #212529
}

.p-btn-primary {
    color: #377dff;
    background: rgba(55, 125, 255, 0.1);
    border-color: transparent;
}

/*.btn-primary:hover {}*/

.btn-white:hover {
    background: #377dff;
    color: #fff;
}

.btn[class*=outline].dropdown-toggle,
.btn[class*=outline]:active,
.btn[class*=outline]:active:focus,
.btn[class*=outline]:focus,
.btn[class*=outline]:hover {
    background-color: transparent
}

.btn[class*=outline][class*=primary]:active,
.btn[class*=outline][class*=primary]:active:focus,
.btn[class*=outline][class*=primary]:focus,
.btn[class*=outline][class*=primary]:hover {
    color: #f5ba4b
}

.btn-circle {
    display: inline-flex;
    width: 4.20313rem !important;
    height: 4.20313rem !important;
    padding: 0 !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center
}


.btn-outline-dark {
    border: 1px solid#222;
}

.btn-outline-dark:hover {
    background: #222 !important;
    color: #fff !important;
}

.btn.btn-link {
    color: #212529
}

.btn:focus {
    box-shadow: none !important
}


/* ------------------------NAvigation Section------------------*/
#nav-bar{
    position: sticky;
    top:0;
    z-index: 21;
    
     
}
.navbar{
    background-image: linear-gradient(to right, #6F1E51, #B53471);
    padding:10px;
    box-shadow: 0px 2px 2px 2px rgb(196, 127, 168);
  
}
.navbar-brand img{
   height: 40px;
   padding-left: 20px;
   
}
.navbar-nav ul{
    margin:0;
    display:flex;
}
.navbar-nav li{
   padding: 0 10px; 
   display: inline-block;
   transition: 0.8s all;
   border: 0.1rem solid transparent;
   position:sticky;
    top:0;
  }
.navbar-nav li a{
   color:rgb(250, 244, 244) !important;
   font-weight: 600; 
   float: right;
   text-align: left;
   margin-right: 30px;
}
.navbar-nav li a:hover{
    background:#fff200;
    color:rgb(26, 19, 19) !important;
    border-radius: 6px;
}

.fa-bars{
    color:#fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;

}

.navbar .nav-item-divider {
    display: none;
}

@media (min-width:1200px) {
    .navbar .nav-item-divider {
        display: block
    }
}

.navbar .nav-item-divider .nav-link {
    opacity: .25
}

.navbar .nav-item-divider .nav-link > span {
    border-left: 1px solid
}

@media (max-width:1199.98px) {
    .navbar .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        border: 0
    }
}

@media (min-width:1200px) {
    .navbar .dropdown-menu {    
        transform: translateY(.5rem);
        opacity: 0
    }

    .navbar .dropdown-menu.show {
        animation: .2s forwards d
    }

    @keyframes d {
        to {
            transform: translateY(0);
            opacity: 1
        }
    }
}

/*( HEADER Section---------------------*/

.header{
   
    height: 200px;
    width: 1000px;
    color: white;
    text-align: center;
    position: absolute;
    left: 25%;  
    top: 40%;
    margin-left: -10px;
    margin-top: 40px;

}





/*------------Logo Area------------------------------*/


.logo_area{
    width:400px; 
    height: 300px; 
    position: "absolute"; 
    left:50%; 
    top:0; 
    content:"";
}


/*------------------------------Slider---------------------------------------------------Mini control panel-*/

.carousel,
.item,
.active {
  height: 100%;
  background-color:#bbb;
 
  
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
  }

.carousel-inner{
    height: 100%;
   }

.carousel-img{
    position: relative;
    top:0;
    left:0;
    min-width:100%;
    height:500px;
    max-width:none;
    background-attachment: fixed;
    background-position: center top;
}
.carousel-item h3{
    position: relative;
    width:100%;
    left:0;
    z-index:5;
    text-align:center;
 }
 .carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:330px;
    bottom:30px;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
    width:100%;
    min-height:250px;
  }
  
.carousel-caption h3 a{
    font-family: Garamond;
    color:#636e72 !important;
    font-size: 2em;
   
    }

    .carousel-indicators{
        margin-bottom: 10px;
    }


/*------------------------------------------Dropdown menu-----------------------------*/
.dropdown-menu {
    opacity: 0
}

.dropdown-menu.show {
    animation: .2s forwards b
}

@keyframes b {
    to {
        opacity: 1
    }
}

.dropdown-item {
    font-size: .6875rem;
    font-weight: 500;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background-color .1s;
    text-transform: uppercase
}

@media (min-width:1200px) {
    .dropdown-item {
        padding-top: .75rem;
        padding-bottom: .75rem
    }
}

@media (min-width:1200px) {
    .dropdown-item + .dropdown-item {
        border-top: 1px solid rgba(0, 0, 0, .1)
    }
}



/*---------------------------About Us----------------------------*/
#about{
    background-image: linear-gradient(to right, #58B19F, #F8EFBA);
    padding:10px;
}
.section_title, .section_subtitle {
   
    margin-bottom:5px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color:#182C61;
    border-left : 2px solid #d63031;
    font-size:700;
    font-family: tahoma;
}
.section_main_title{
    color:#3d3d3d;
   margin-top:10px;
   margin-bottom: 25px;
   font-size:30px;
   line-height:1.27;
   font-weight: 300;
 }
.about-item{
    margin-bottom:10px;
}
.about-item p{
    color:#3d3d3d;
    font-family: sans-serif;
    font-size:15px;
}
.section_main_title strong{
  font-weight:600;
}

.about-box{
  margin-top: 75px;
 
  position: relative;
  display:inline-block;
  padding: 15px;
  
  
}
.about-box img{
    width:350px;
    border-radius: 15px;
    box-shadow: 0px 7px 7px 2px #6D214F, 3px 7px 7px 0px #B33771;

}
.btn-circled{
    position:relative;
    line-height:10px;
    color:white;
    font-size:12px;
    font-weight:400;
    border :1px solid #82589F;
    background: linear-gradient(to right, #6F1E51, #B53471);
    
 }
 .btn-circled:hover{
     background-color:transparent;
     text-decoration:none;
     color:white;
     border: 1px solid rgb(14, 2, 2);
 }
/*--------------------------------------------------Web Services------------------------------*/
.bg-primary {
    background-color: linear-gradient(to right, #6F1E51, #B53471);
}
#services-2 {
    position: relative;
    
    -webkit-background-size: cover;
    background-size: cover;
}
.web-service-block {
    text-align: center;
    padding: 35px 25px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    border: 1px solid rgba(143, 10, 10, 0.2);
}
.web-service-block i {
    font-size: 70px;
    margin-bottom: 30px;
    display: block;
}

.web-service-block i,
.web-service-block h3 {
    color: #fff;
}
.web-service-block h3 {
    color: #fff;
	font-size: 20px;
	min-height: 60px;
}

.web-service-block p {
    color: #eee;
    margin: 15px 0px 25px;
	min-height: 100px;
}

.web-service-block a :hover{
    background: #fff;
    border-color: transparent;
}

.web-service-block:hover i {
    color: #cd2122;
}

.web-service-block:hover h3 {
    color: #111;
}

.web-service-block:hover p {
    color: #111;
}

.web-service-block .btn {
    padding: .7rem 1.7rem;
    background: #fff;
    color: #cd2122;
}

.web-service-block:hover .btn {
    background: #cd2122 !important;
    color: #fff;
    border-color: #cd2122 !important;
}


/*----------------------Project-----------------------*/
#projects-wrap {
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}
.h1, h1 {
   
    font-size: 2.125rem;
    line-height: 30px;
}
.overlay1 {
    position: absolute;
    left: 2px;
    right:10px;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,  #6c5ce7,#636e72);
    background:fit;
    border-radius:10px;
    /*border-style: groove;*/
    opacity:0.8;
    box-shadow: 0 0 2px 2px;
}


.section-heading h3{
   line-height: 1.5em;
}
#projects {
    margin-top: -55px;
}
.single-project img{
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    max-width: 400;
    
}
.project-content {
    text-align: center;
    padding: 40px ;
    position: relative;
       
}

.project-content h4{
    color:#3d3d3d;
}
.project-content p{
    color:#3d3d3d;
    text-align: left;
    
}
.project-content:before{
    position: absolute;
    content: "";
    left: 50%;
    top: 0px;
    width: 2px;
    height: 40px;
    background:#636e72;
}
.project-content:after{
    position: absolute;
    content: "";
    left:  45%;
    top: 38px;
    width: 37px;
    height: 2px;
    background: #4b4b4b;
}
.project-content .btn {
    padding: .7rem 1.7rem; /*---------------btn for learn more------------------*/
    border-radius: 50px;
    background-image: linear-gradient(to right, #6F1E51 , #B53471 );
    

}
.project-content p{
    margin: 20px 0px 35px;
}
.project-content h4 {
    text-transform: uppercase; 
}
.single-project1 img{
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    width: 100%;
    margin-bottom:30px;

}
.project-content-block{              /*-----------------------start of do you want to know who we are------*/
    padding: 18px 5px 5px 10px;
    margin-left: -80px;
    margin-right:50px;
    left:80px;
    right:10px;
    width:100%;
    background: #CAD3C8;
    position:absolute;
    bottom: -10px;
    border: 8px solid#f0932b;
    border-radius: 10px;
    /*-- -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.08);-*/
    
}
.project-content-block h4{
    color: #cd2122;
}
.project-content-block p{
    margin: 20px 0px 30px;
}
.btn-circled{
    border-radius: 25px;
    background-image: linear-gradient(to right, #6F1E51, #B53471);
}

/*--------------------------------------------Services Section-----------------------------------*/

#services{
    background-image: linear-gradient(to right,#92d1ec, #9a8fb4);
    padding: 80px 0px;
}
.service-img{
    
    border-radius: 10%;
    margin-top: 20px;
    width: 350px;
  
}
.services{
    padding: 20px; 
}
.services h4{
    padding: 5px;
    margin-top: 25px; 
    text-transform: uppercase;

}
.services h2{
    color:#3d3d3d;
    font-family: sans-serif;
}
.services p{
    color:#3d3d3d;
    font-family: sans-serif;
    text-align:left;
}
.title::before{
    content: '';
    background: #6F1E51;
    height: 8px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.btn-circled{
    position:relative;
    line-height:10px;
    color:white;
    font-size:12px;
    font-weight:400;
    border :1px solid #82589F;
    background: linear-gradient(to right, #6F1E51, #B53471);
    
 }
 .btn-circled:hover{
     background-color:transparent;
     text-decoration:none;
     color:white;
     border: 1px solid rgb(14, 2, 2);
 }
/*-----------------------------------Footer Section------------------------*/
#footer {
    margin-top:0px;
    margin-bottom: 0px;
    padding: 20px 20px;
    position: relative;
    left: 0;
    right:0;
    width: 100%;
    background-image: linear-gradient(to right, #6F1E51, #B53471) ;
    opacity:10;
    -webkit-background-size: cover;
    background-size: cover;
    overflow:hidden;
    vertical-align: bottom;
}
.footer-overlay {
    background-image:linear-gradient(rgba(160, 64, 123, 0.6),rgba(80, 7, 68, 0.6));
    opacity: .94;
}
.footer-brand {
    font-size: 30px;
}

.footer-links {
    padding-left: 0;
    list-style-type: none;
	color:  #fff;
	line-height:2;
}


.footer-widget p {
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 14px;
}

.footer-widget h3 {
    color: #fff;
    margin-bottom: 30px;
}


.footer-links a {
    color:#fff;
    line-height: 38px;
    font-size: 14px;
    text-transform: Capitalize;
}

.footer-links i{
    width: 25px;
}

.footer-copy {
    color :#fff;
    font-size: 16px;
    position: relative;
}

.current-year {
    color:#fff !important;
}

.footer-copy:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 12px;
    width: 66%;
    height: 1px;
    background: #94959a;
}




/*---------------------------------------Page banner------------------------*/
.page-banner-area{
    padding: 180px 0px;
}
.page-contact{
    position: relative;
    padding: 160px 0px 30px;
    
    -webkit-background-size: cover;
    background-size:cover ;
}
.page-service{
    position: relative;
    padding: 180px 0px;
    
    -webkit-background-size: cover;
    background-size:cover ;
}

.page-about{
    position: relative;
    padding: 180px 0px;
    
    -webkit-background-size: cover;
    background-size:cover ;
}

.page-pricing{
    position: relative;
    padding: 180px 0px;
    
    -webkit-background-size: cover;
    background-size:cover ;
}

.page-project{
    position: relative;
    padding: 180px 0px;
    
    -webkit-background-size: cover;
    background-size:cover ;
}


.page-banner-content h1{
    color: #fff;
}
.page-banner-content p{
    color: #eee;
}

.form-control{
    border-radius: 0px;
    height: 45px;
}
/*----------------------------------Page scroll up----------------------------*/

.gotopbtn{
    position: fixed;
    width:60px;
    z-index: 99;
    height:60px;
    background:linear-gradient(to right, #6F1E51, #B53471);
    bottom:105px;
    right:23px;
    text-decoration: none;
    text-align: center;
    line-height: 58px;
    color:#D6A2E8;
    font-size: 26px;
    border-radius:50px; 
   
}

#gotopbtn:active{
    background: #D6A2E8
}


/*#btnScrollToTop{
    position: fixed;
    bottom:40px;
    right:40px;
    width:50px;
    height:50px;
    border-radius:20px;
    background-color: #D6A2E8;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color:#6D214F;
    outline:none;
    cursor:pointer;
    border:none;

}
#btnScrollToTop:active{
    background: #D6A2E8

}*/
